/AdventureGame.py
/ageandeggs.py
/AreaOfShapes.py
/bondname.py
/cleverstories.py
/colour.py
/DataAnalysis.py
/EvenNumbers.py
/FahrenheitCelciusConvertor.py
/FavouriteLetter.py
/FoodCostCalculator.py
/Hair_Length.py
/hr_system.txt
/IDgenerator.py
/IfAndElse.py
/KJV.csv
/life-expectancy.csv
/MyBibleApp.py
/Peters_Game.py
/ShoppingCartProgramme.py
/SvenskaShoppingCart.py
/Teamactivity02.py
/TeamActivity03.py
/TeamActivity04.py
/TeamActivity05.py
/Teamactivity06.py
/TeamActivity07.py
/TESTER.py
/WhatIsMyWord.py
/WIndChillCalculator.py